# examples output
.output
.data
.nuxt
.nitro
.astro
.cache
.docs
dist
.temp
cache


# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.vscode
.history
